.red {background-color: red;}
.baige {background-color: #ffff88;}
.magenta {
    background-color: magenta;
    text-align: center;
}

.right {text-align: right;}
.center {text-align: center;}

.top {vertical-align: top;}
.middle {vertical-align: middle;}
.bottom {vertical-align: bottom;}

.scroll {overflow: scroll;
height: 150px;
width: 150px;
text-align: justify;}

.table {
    width: 450px;
    height: 450px;
    border-collapse: collapse;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold;
}